<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <!--link de css-->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="body">
<!--comienzo del header-->
    <header>
        <nav class="navbar flex-row conteiner">
            <picture class="logo">
                <img width="100" height="73" src="../image/logo_mesa-de-trabajo-1.png" alt="logo de la marca">
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./about.html" class="menu__link">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a href="./contact.html" class="menu__link">Contacto</a>
                </li>
                <li class="menu__item">
                    <a href="./gallery.html" class="menu__link">Portfolio</a>
                </li>
                <li class="menu__item">
                    <a href="./service.html" class="menu__link">Servicios</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--fin del header-->
    <!--comienzo del main-->
    <main  class="midel conteiner">
        <section class="about flex-colum">
            <article id="about__hijo ">
                 <h2 class="historia">Nuestra Historia</h2>
                 <p class="historia__resumen">I’m studying biology, chemistry and literature. My ideal job would be
                    in science. I’d really like to develop new vegetarian foods or create plants that don’t get
                    diseases, something like that. But I’d like to travel abroad for a year before I go to 
                    university. I enjoy my school subjects but I don’t like mornings at all. I think it’s 
                    great that we’ll start school at 11.30 a.m. when Mr Lincoln’s experiment begins. We’ll 
                    have one class before lunch and school won’t end until 6.30 p.m. So for the last three 
                    hours we’ll have the school to ourselves, without the younger children. Personally, 
                    if lessons were later — say, 1.30 to 7.30 — I’d be able to concentrate even more. I’m studying 
                    biology, chemistry and literature. My ideal job would be in science. I’d really like to develop
                    new vegetarian foods or create plants that don’t get diseases, something like that. But I’d like 
                    to travel abroad for a year before I go to university. I enjoy my school subjects but I don’t like
                    mornings at all. I think it’s great that we’ll start school at 11.30 a.m. when Mr Lincoln’s 
                    experiment begins. We’ll have one class before lunch and school won’t end until 6.30 p.m. So for 
                    the last three hours we’ll have the school to ourselves, without the younger children. Personally,
                    if lessons were later — say, 1.30 to 7.30 — I’d be able to concentrate even more.</p>
            </article>
        </section>
        <section class="list__padre flex-colum">
            <article class="list__hijo">
                    <h3 class="caracteristicas">Nuestras caracteristicas</h3>
                <ul class="caracteristicas__lista">
                    <li class="lista__item">
                        Cumplimiento de plazos
                    </li>
                    <li class="lista__item">
                        Transparencia con el cliente
                    </li>
                    <li class="lista__item">
                        Importancia en la comunición
                    </li>
                    <li class="lista__item">
                        Nos gusta el mate
                    </li>
                </ul>
            </article>
        </section>
    </main>
    <!--fin del main-->
    <!--comienzo del footer-->
    <footer id="footerFlex" >
        <nav class="nav flex-row conteiner">
            <ul class="menu-second flex-row">
                <li class="menu-second__item">
                    <a class="menu-second__link" href="./contact.html">Contacto</a>
                </li>
                <li class="menu-second__item">
                    <a class="menu-second__link" href="https://www.behance.net/">Behance</a>
                </li>
                <li class="menu-second__item">
                    <a class="menu-second__link" href="https://www.instagram.com/">Instagram</a>
                </li>
            </ul>
        </nav>
    </footer>
    <!--fin del footer-->
</body>
</html>