<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="descripción" content="nuestros mejores trabajos publicados.">
    <meta name="keywords" content="DISEÑO GRAFICO, EDITORIAL, CARTELERIA, TIPOGRAFIA, AGENCIA GRAFICA, PORTFOLIO">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Rn Design - Nuestros Trabajos</title>
    <!--link de css-->
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="body">
    <!--comienzo sw header-->
    <header>
        <nav class="navbar flex-row">
            <picture class="logo">
                <a href="../../index.html">
                    <img width="100" height="73" src="../image/logo_mesa-de-trabajo-1.png" alt="logo de la marca">
                </a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./about.html" class="menu__link">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a href="./contact.html" class="menu__link">Contacto</a>
                </li>
                <li class="menu__item">
                    <a href="./gallery.html" class="menu__link">Portfolio</a>
                </li>
                <li class="menu__item">
                    <a href="./service.html" class="menu__link">Servicios</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--fin de header-->
    <!--comienzo de main-->
    <main class="centro" class="conteiner flex-row">
        <div class="galeria">
            <picture class="galeria__uno">
                <img class="img--libro" width="560" height="360" src="../image/portada_libro.jpg" alt="Libro 1">
                <img class="img--libro1" width="560" height="360" src="../image/indice_libro.jpg" alt="Libro 2">
                <img class="img--libro2" width="560" height="360" src="../image/caratula_libro.jpg" alt="Libro 2">
                <img class="img--libro3" width="560" height="360" src="../image/pagina_libro.jpg" alt="libro 3">
            </picture>
        </div>
        <div class="sims__padre">
            <picture>
                <img id="sims" width="560" height="360" src="../image/cartel_sims.jpg" alt="Sims">
            </picture>
        </div>
    </main>
    <!--fin de main-->
    <!--comienzo de footer-->
    <footer id="footerFlex" >
        <nav class="nav flex-row">
            <ul class="menu-second flex-row">
                <li class="menu-second__item">
                    <a class="menu-second__link" href="./contact.html">Contacto</a>
                </li>
                <li class="menu-second__item">
                    <a class="menu-second__link" href="https://www.behance.net/">Behance</a>
                </li>
                <li class="menu-second__item">
                    <a class="menu-second__link" href="https://www.instagram.com/">Instagram</a>
                </li>
            </ul>
        </nav>
    </footer>
    <!--fin de footer-->
</body>
</html>