<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Conoce nuestros principales servicios.">
    <meta name="keywords" content="DISEÑO GRAFICO, EDITORIAL, CARTELERÍA, TIPOGRAFÍA, AGENCIA GRÁFICA">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios | Rn Design - Nuestros Servicios</title>
    <!--link de css-->
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="body">
    <!--inicio del header-->
    <header>
        <nav class="navbar">
            <picture class="logo">
                <a href="../../index.html">
                    <img width="100" height="73" src="../image/logo_mesa-de-trabajo-1.png" alt="logo de la marca">
                </a>
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./about.html" class="menu__link">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a href="./contact.html" class="menu__link">Contacto</a>
                </li>
                <li class="menu__item">
                    <a href="./gallery.html" class="menu__link">Portfolio</a>
                </li>
                <li class="menu__item">
                    <a href="./service.html" class="menu__link">Servicios</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--fin del header-->
    <!--comienzo del main-->
    <main class="main__service conteiner">
        <section class="titel__service">
            <h2 class="service__h2">Servicios</h2>
        </section>
        <section class="servicio__one">
            <article>
                <h3>Servicio 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur 
                    dipisicing elit. Deleniti odio est quo quae
                    repudiandae, eius maxime ducimus vero, iste error, 
                    animi sapiente. Reprehenderit quasi doloribus dolorem 
                    dignissimos repellat quibusdam libero?</p>
            </article>
        </section>
        <section class="servicio__two">   
            <article>
                <h3>Servicio 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur 
                    dipisicing elit. Deleniti odio est quo quae
                    repudiandae, eius maxime ducimus vero, iste error, 
                    animi sapiente. Reprehenderit quasi doloribus dolorem 
                    dignissimos repellat quibusdam libero?</p>
            </article>
        </section> 
        <section class="servicio__three">    
            <article>
                <h3>Servicio 3 </h3>
                <p>Lorem ipsum dolor sit amet consectetur 
                    dipisicing elit. Deleniti odio est quo quae
                    repudiandae, eius maxime ducimus vero, iste error, 
                    animi sapiente. Reprehenderit quasi doloribus dolorem 
                    dignissimos repellat quibusdam libero?</p>
            </article>
        </section>
    </main>
    <!--fin del main-->
    <!--comienzo del footer-->
    <footer id="footerFlex" >
        <nav class="nav flex-row">
            <ul class="menu-second flex-row">
                <li class="menu-second__item">
                    <a class="menu-second__link" href="./contact.html">Contacto</a>
                </li>
                <li class="menu-second__item">
                    <a class="menu-second__link" href="https://www.behance.net/">Behance</a>
                </li>
                <li class="menu-second__item">
                    <a class="menu-second__link" href="https://www.instagram.com/">Instagram</a>
                </li>
            </ul>
        </nav>
    </footer>  
    <!--fin del footer-->
</body>
</html>