/*normalize*/
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

a{
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 21px;
    text-decoration: none;
    display: inline-block;
}

li{
    list-style-type: none;
}

.body{
    background: rgb(0,208,171);
    background: linear-gradient(332deg, rgba(0,208,171,1) 6%, rgba(255,51,255,1) 100%);   
}

.body{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 15vh 1fr 15vh;
    grid-template-areas: 
    "header"
    "main "
    "footer";
    margin: 0;
    min-height:100vh;
}
/*normalize*/

/*helpers*/
.flex-row{
    display: flex;
}

.flex-colum{
    display: flex;
    flex-direction: column;
}

.conteiner{
    max-width: 1080px;
    margin: 0 auto;
}
/*helpers*/

/*header inc*/
header{
    grid-area: header;
    background-color:#000000 ;
}

header .navbar1{
    min-height: 20vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo{
    flex-basis: 30%;
}

header .menu{
    flex-basis: 50%;
    justify-content: space-between;
}

header .menu__item {
      /*border-inline: 2px solid #ffff;*/
      transition: border-inline .3s ease-in;
}

.menu .menu__item:hover{
    border-inline: 2px solid #ffff;
}

.menu .menu__item .menu__link{
    padding: 1rem;
}

/*header fin*/

/*main index inc*/
.body__index{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 15vh 1fr 15vh;
    grid-template-areas: 
    "header"
    "main "
    "footer";
    margin: 0;
    min-height:120vh;
}

#medio{
    grid-area: main;
    display: grid;
    grid-template-columns:3fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    padding: 20px;
    grid-template-areas: 
    "secOne secTwo";
    min-height:50vh;
}

#secOne{
    grid-area: secOne;
    display: flex;
    justify-content: end;
    align-items: center;

}
.img__hijo{
    transition: all  3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.img__hijo:hover{
   width: 50vh;
   height: 65vh;
}

#secTwo{
    grid-area: secTwo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto__hijone{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.6em;
    line-height: 4.2rem;
    color: #00D0AB;
    transition: color .6s ease-out;
}
.texto__hijone:hover{
    color:#FF33FF
}

.texto__hijotwo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.4rem;
    color: #000000;
    width: 50%;
}
@media (max-width: 480px){
    .body__index{
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: 20vh  1fr auto;
        grid-template-areas: 
        "header"
        "main "
        "footer";
        margin: 0;
        min-height:198vh;
    }
    #medio{
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: auto 40vh;
        grid-gap: 1rem;
        padding: 1rem;
        grid-template-areas: 
        "secOne" 
        "secTwo";
        
    }
    #secOne{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img__hijo{
        transition: all  3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    .img__hijo:hover{
       width: 45vh;
       height: 60vh;
    }
    
    #secTwo{
        align-items: center;
    }
    .texto__hijone{
       color: #FF33FF;
       transition: color .6s ease-out;
    }
    .texto__hijone:hover{
        color: #00D0AB;
    }
    .texto__hijotwo{
        width: 40rem;
    }

    .navbar{
       flex-direction: column;}
    
    .menu__link{
        font-size: 1.5em;
    }
    .menu-second__link{
        font-size: 1.5em;
    }
}
/*main index fin*/

/*main about inc*/
.midel{
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    padding: 20px;
    grid-template-areas: 
    "about list";
    min-height:110vh;
}

.about{
    grid-area: about;
    justify-content: center;
    align-items: center;
}

.list__padre{
    grid-area: list;
    align-items: flex-start;
    justify-content: space-around;
}


.historia{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.6em;
    line-height: 4.2rem;
    color: #00D0AB;
    transition: color .6s ease-out;
}

.historia:hover{
    color: #FF33FF;
}

.historia__resumen{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.4rem;
    color: #000000;
    width: 41.7rem;
}

.caracteristicas{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    line-height: 4rem;
    color: #FF33FF;
    transition: color .6s ease-out;
}

.caracteristicas:hover{
    color: #00D0AB;
}

.lista__item{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.4em;
    line-height: 8rem;
    color: #000000;
}
@media(max-width: 480px){
    .body{
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: 20vh  1fr auto;
        grid-template-areas: 
        "header"
        "main "
        "footer";
        margin: 0;
        min-height:198vh;
    }
    .midel{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: 50vh 80vh;
        grid-gap: 2rem;
        padding: 2rem;
        grid-template-areas: 
        "about"
        "list";
       
    }
    .about{
        grid-area: about;
        justify-content: center;
        align-items: center;
    }

    .list__padre{
        grid-area: list;
        align-items: center;
        justify-content: space-around;
    }
    
}
/*main about fin*/

/*main gallery inc*/
#centro{
    grid-area: main;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 80vh 30vh;
    grid-gap: 0px;
    padding: 0px;
    grid-template-areas: 
    "sims"
    "img ";
    min-height:120vh;
    
}

.galeria{
    grid-area: img;
    justify-content: center;
    align-items: start;
    
}

.sims__padre{
    grid-area: sims;
    justify-content: center;
    align-items: end;
}

#sims{
    width: 72.5vh;
    height: 51.3vh;
    transition: all  3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#sims:hover{
    width: 100vh;
    height: 75vh;
}

.galeria__uno #libro{
    width: 18.2vh;
    height: 12.3vh;
    transition: all  3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.galeria__uno #libro1{
    width: 18.2vh;
    height: 12.3vh;
    transition: all  3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.galeria__uno #libro2{
    width: 18.2vh;
    height: 12.3vh;
    transition: all  3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.galeria__uno #libro3{
    width: 18.2vh;
    height: 12.3vh;
    transition: all  3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.galeria__uno #libro:hover,
.galeria__uno #libro1:hover,
.galeria__uno #libro2:hover,
.galeria__uno #libro3:hover{
    width: 60vh;
    height: 35vh;
}

@media(max-width: 480px) {
    #centro{
        grid-area: main;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 40vh 1fr ;
        grid-gap: 0px;
        padding: 0px;
        grid-template-areas: 
        "sims"
        "img ";
    }

    .sims__padre{
        grid-area: sims;
        justify-content: center;
        align-items: end;
    }

    .galeria__uno{
        grid-area: img;  
        display: flex;
        flex-direction: column;
          
    }

    #sims{
        width: 32.6vh;
        height: 23.1vh;
    }
    
    .galeria__uno #libro{
        width: 32.6vh;
        height: 23.1vh;
    }
    
    .galeria__uno #libro1{
        width: 32.6vh;
        height: 23.1vh;
    }
    
    .galeria__uno #libro2{
        width: 32.6vh;
        height: 23.1vh;
    }
    
    
    .galeria__uno #libro3{
        width: 32.6vh;
        height: 23.1vh;
    }
}
/*main gallery fin*/

/*main contact inc*/
.main__contact{
    grid-area: main;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto auto auto 1fr auto;
    grid-gap: 0px;
    padding: 0px;
    grid-template-areas: 
    "nombre  "
    "email   "
    "selec   "
    "serv    "
    "neg     "
    "point   "
    "tex     "
    "boton   ";
    min-height:100vh;
}
#from > *{
    padding: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

.name{
    grid-area: nombre;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

#username, 
#telefono, 
#empresa, 
#email{
    width: 20.8rem;
    height: 4.2rem;
    border: none;
    
}

.email{
    grid-area: email;
    justify-content: space-between;
    padding: 2rem;
}

.serv {
    grid-area: serv;
    justify-content: space-between;
    padding: 2rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}

.selec{
    grid-area: selec;
}

#selec h4{
    color: #FF33FF;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    transition: color .6s ease-out;
} 

.neg #menu label{   
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FF33FF;
    transition: color .6s ease-out;
}

#selec h4:hover, 
.neg #menu label:hover{
    color: #00D0AB;
}

.neg{
    grid-area: neg;
    padding: 2rem;
    line-height: 28px;
}

.point{
    grid-area: point;
    padding: 2rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.text{
    grid-area: text;
    padding: 2rem;
}

.boton{
    grid-area: boton;
    padding: 2rem;
}

@media(max-width: 480px){
    .main__contact{
        grid-area: main;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto auto auto 1fr auto;
        grid-gap: 0px;
        padding: 0px;
        grid-template-areas: 
        "nombre  "
        "email   "
        "selec   "
        "serv    "
        "neg     "
        "point   "
        "tex     "
        "boton   ";
        min-height:200vh;
    }
    
    .name{
        grid-area: nombre;
        flex-direction: column;
        justify-content: space-between;
        padding: 6rem;
       
    }
    .email{
        grid-area: email;
        flex-direction: column;
        justify-content: space-between;
        padding: 6rem;
    }

    .selec{
        grid-area: selec;
        padding: 6rem;
    }

    .serv{
        grid-area: serv;
        padding: 6rem;
    }

    .neg{
        grid-area: neg;
        padding: 6rem;
    }

    .point{
        grid-area: point;
        padding: 6rem;
    }

    .text{
        grid-area: text;
        padding: 6rem;
    }

    .boton{
        grid-area: boton;
        padding: 6rem;
    }
}
/*main contact fin*/

/*main contact fin*/

.main__service{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr ;
        grid-template-rows: 10vh 20vh 20vh 20vh;
        grid-gap: 10px;
        padding: 10px;
        grid-template-areas:
        "ser" 
        "ser__1"
        "ser__2"
        "ser__3";
        min-height:100vh;
}

.titel__service{
    grid-area: ser;
    justify-content: center;
}

.sevicio__one{
    grid-area: ser__1;
    
}


.servicio__two{
    grid-area: ser__2;
}

.servicio__three{
    grid-area: ser__3;
}

.servicio__one article p, 
.servicio__two article p, 
.servicio__three article p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.4rem;
    color: #000000;
    padding-left: 20rem;
    
}

.servicio__one article h3, 
.servicio__two article h3, 
.servicio__three article h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 4rem;
    color: #FF33FF;
    padding-left: 17rem;
    transition: color .6s ease-out;
}

.servicio__one article h3:hover, 
.servicio__two article h3:hover, 
.servicio__three article h3:hover{
    color: #00D0AB;
}

.service__h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    line-height: 4rem;
    color: #00D0AB;
    transition: color .6s ease-out;
}

.service__h2:hover{
    color: #FF33FF;
}

@media(max-width: 480px){

    .main__service{
        
        grid-gap: 20rem;
        padding: 10px;
            
    }

    .servicio__one article p, 
    .servicio__two article p, 
    .servicio__three article p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 1.2em;
        line-height: 1.4rem;
        color: #000000;
        padding-left: 3rem;
    }

    .servicio__one article h3, 
    .servicio__two article h3, 
    .servicio__three article h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2em;
        line-height: 4rem;
        color: #FF33FF;
        padding-left: 3rem;
        
    }
}
/*main contact fin*/


/*footerx inc*/
footer{
    grid-area: footer;
    background-color: black;
}
footer .nav{
    align-items: center;
    padding: 0 2rem;
    min-height: 15vh;
    justify-content: space-between;
}

footer  .menu-second__item{
    transition: border-inline .3s ease-in;
}

.menu-second .menu-second__item:hover{
    border-inline: 2px solid #ffff;
}

footer .menu-second{
    flex-basis: 40%;
    justify-content: space-between;
}

.menu-second .menu-second__item .menu-second__link{
    padding: 1rem;
}
/*footer fin */

/*elementos bootstrap inc*/
#color1{
    background-color: aliceblue;
}

/*elementos bootstrap fin*/
