/*main contact inc*/
.main__contact{
    grid-area: main;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto auto auto 1fr auto;
    grid-gap: 0rem;
    padding: 0rem;
    grid-template-areas: 
    "nombre  "
    "email   "
    "selec   "
    "serv    "
    "neg     "
    "point   "
    "tex     "
    "boton   ";
    min-height:100vh;

    #from > *{
        padding: 4rem;
        @include flex (flex, row);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;

        @each $com,$value in $complet {

            .complet--#{$com}{

                justify-content: space-between;
                padding: 2rem;
            }

        }

        .name{
            grid-area: nombre;
            @include flex (flex, row);
            flex-direction: row;
        
            #username{
                width: 20.8rem;
                height: 4.2rem;
                border: none;  
            }
        
            #empresa{
                @extend #username;  
            }
        }
        
        .email{
            grid-area: email;
            @include flex (flex, row);

            #email{
                width: 20.8rem;
                height: 4.2rem;
                border: none; 
            }

            #telefono{
                @extend #email;  
            }
        }

        .selec{
            grid-area: selec;
            @include flex (flex, row);

            #selec{ 
                h2{
                    color: $firstcolor;
                    font-style: normal;
                    font-weight: 700;
                    font-size: map-get($fountsize,first );
                    line-height: 4.2rem;
                    transition: color .6s ease-out;

                    &:hover{
                        color: $secondcolor;
                    }

                }
            } 
        }

        
        .serv {
            grid-area: serv;
            @include flex (flex, row);
            justify-content: space-between;
            padding: 2rem;
            font-weight: 400;
            font-size: map-get($fountsize, fourth);
            line-height: 2.1rem;

        }

        .neg{
            grid-area: neg;
            @include flex (flex, row);
            padding: 2rem;
            line-height: 2.8rem;

            #menu{ 
                
                label{   
                    font-style: normal;
                    font-weight: 700;
                    font-size: map-get($fountsize, first);
                    line-height: 4.2rem;
                    color: $firstcolor;
                    transition: color .6s ease-out;
                    &:hover{
                        color: $secondcolor;
                    }
                }
            }

        }

        .point{
            grid-area: point;
            @include flex (flex, row);
            padding: 2rem;
            font-weight: 400;
            font-size:map-get($fountsize, third);
            line-height: 2.8rem;
        }
        
        .text{
            grid-area: text;
            @include flex (flex, row);
            padding: 2rem;
        }
        
        .boton{
            grid-area: boton;
            @include flex (flex, row);
            padding: 2rem;

            @each $boton, $color in $botons {
                .btn--#{$boton} {
                    background-color: $color;
                    height: 3rem;
                    width: 13rem;
                }
                
            }
        }

    }
}

@media(max-width: 480px){
    .main__contact{
        grid-area: main;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto auto auto 1fr auto;
        grid-gap: 0rem;
        padding: 0rem;
        grid-template-areas: 
        "nombre  "
        "email   "
        "selec   "
        "serv    "
        "neg     "
        "point   "
        "tex     "
        "boton   ";
        min-height:200vh;

        .name{
            grid-area: nombre;
            flex-direction: column;
            justify-content: space-between;
            padding: 6rem;   
        }
    
        .email{
            grid-area: email;
            flex-direction: column;
            justify-content: space-between;
            padding: 6rem;
        }
    
        .selec{
            grid-area: selec;
            padding: 6rem;
        }
    
        .serv{
            grid-area: serv;
            padding: 6rem;
        }
    
        .neg{
            grid-area: neg;
            padding: 6rem;
        }
    
        .point{
            grid-area: point;
            padding: 6rem;
        }
    
        .text{
            grid-area: text;
            padding: 6rem;
        }
    
        .boton{
            grid-area: boton;
            padding: 6rem;
        }
    }
    
}