
.main__service{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 10vh 20vh 20vh 20vh;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas:
    "ser" 
    "ser__1"
    "ser__2"
    "ser__3";
     min-height:100vh;

     .titel__service{
        grid-area: ser;
        justify-content: center;
    }

    .servicio__one{
        grid-area: ser__1;
        article{
            p{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-style: normal;
                font-size: $secondfoutnsize;
                line-height: 1.4rem;
                color: $fourthcolor;
                padding-left: 20rem;   
            }
             h3{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 2em;
                line-height: 4rem;
                color: $firstcolor;
                padding-left: 17rem;
                transition: color .6s ease-out;
               
            }

        }
    }


        

     .servicio__two{
        grid-area: ser__2;

        article{
            p{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-style: normal;
                font-size: $secondfoutnsize;
                line-height: 1.4rem;
                color: $fourthcolor;
                padding-left: 20rem;   
            }
             h3{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 2em;
                line-height: 4rem;
                color: $firstcolor;
                padding-left: 17rem;
                transition: color .6s ease-out;
               
            }
        }    
    }
        
    .servicio__three{
        grid-area: ser__3;
        article{
            p{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-style: normal;
                font-size: $secondfoutnsize;
                line-height: 1.4rem;
                color: $fourthcolor;
                padding-left: 20rem;   
            }
            h3{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 2em;
                line-height: 4rem;
                color: $firstcolor;
                padding-left: 17rem;
                transition: color .6s ease-out;
            }
        }
    }

    .service__h2{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 4em;
        line-height: 4rem;
        color: $secondcolor;
        transition: color .6s ease-out;

        &:hover{
            color: $secondcolor;
        }
    }

}


@media(max-width: 480px){

    .main__service{ 
        grid-gap: 20rem;
        padding: 1rem; 
        .servicio__one{
            article{
                p{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-style: normal;
                    font-size: $secondfoutnsize;
                    line-height: 1.4rem;
                    color: $fourthcolor;
                    padding-left: 3rem;
                }

                h3{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2em;
                    line-height: 4rem;
                    color: $firstcolor;
                    padding-left: 3rem; 
                     
                    &:hover{
                        color: $secondcolor;
                    }  
                }
            }
        }
        
        .servicio__two{

            article{
                p{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-style: normal;
                    font-size: $secondfoutnsize;
                    line-height: 1.4rem;
                    color: $fourthcolor;
                    padding-left: 3rem;
                }

                h3{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2em;
                    line-height: 4rem;
                    color: $firstcolor;
                    padding-left: 3rem; 
                    &:hover{
                        color: $secondcolor;
                    }   
                }
            }
        }

        .servicio__three{

            article{
                p{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-style: normal;
                    font-size: $secondfoutnsize;
                    line-height: 1.4rem;
                    color: $fourthcolor;
                    padding-left: 3rem;
                }

                h3{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2em;
                    line-height: 4rem;
                    color: $firstcolor;
                    padding-left: 3rem;
                    &:hover{
                        color: $secondcolor;
                    }    
                }
            }
        }
    }

}