@mixin flex($display: flex, $direction: row) {
    display: $display;
    direction: $direction;
}

.flex-colum{
    display: flex;
    flex-direction: column;
}

.conteiner{
    max-width: 1080px;
    margin: 0 auto;
}